/* APLICA EM TODO A PÁGINA */
* {
  text-decoration: none; /* remove a decoração de todos os links (_)*/
}


/* HEADER */
.barra_sup {
  height: 10vw;
  max-height: 60px;
  min-height: 45px;
  padding-left: 15px;
  display: flex;
  background-color: #242424;

  position: fixed;   /* fixa no lugar */
  top: 0;            /* gruda no topo */
  left: 0;           /* começa na esquerda */
  right: 0;          /* ocupa toda a largura */
  z-index: 1000;     /* fica acima do conteúdo */
}
.logo {
  display: flex;          /*torna a div flex, facilita umas funções*/
  align-items: center;    /*centraliza os itens*/
  gap: 5px;               /*espaço entre a logo e a palavra*/
}
.logo_marca {
  height: 30px;
  width: auto;
}
.letra_logo {
  font-size: 20px;
  color: #f47521;
  font-family: "Jockey One", sans-serif;
  font-weight: bold;
}
.letra_logo:hover {
  color: white;
}

.links {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.links a {
  display: flex;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  color: white;
  height: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.links a:hover {
  background-color: rgb(22, 22, 22);
}


/* SEPARAR AS DIVS DA BARRA SUPERIOR COM UM ESPAÇO FLEX */
.spacer {
  flex: 1;
}

/* ICONES DA DIREITA DA BARRA SUPERIOR */
.icones {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 15px;
}
.bt_icones {
  background: none;
  margin: 0;
  border: none;
}
.icon_pessoa {
  filter: invert(1);
  align-items: center;
  width: 4vw;
  min-width: 18px;
  max-width: 25px;
  display: flex;
  padding-left: 7px;
  padding-right: 7px;
}
.icon_pesquisa {
  align-items: center;
  width: 4vw;
  display: flex;
  padding-left: 7px;
  padding-right: 7px;
  margin: 0;
}

.icones:hover {
  background-color: rgb(22, 22, 22);
}
.bt_icones:hover {
  background-color: rgb(22, 22, 22);
}


/* CONF DO CORPO */
body {
  margin: 0;
  background-color: #0f0f0f;
  color: white;
  padding: 0;
}



/* PARA DIFERENTES TAMANHOS DE TELA */
/* TAMANHO M */
@media (max-width: 780px) {
  .logo_marca {
    height: 30px;
  }
  .links {
    display: none;
  }
}

/* TAMANHO P */
@media (max-width: 480px) {
  .logo_marca {
    height: 30px;
  }
  .letra_logo {
    display: none;
  }
}



/* link para icones: https://icons8.com.br/icons/set/pessoas--style-ios-glyphs */